<div class="portfolio-ajax-modal">

	

	<div class="modal-padding ">

		<div class="row clearfix">

			<!-- Portfolio Single Content
			============================================= -->
			

			<!-- Portfolio Single Content
			============================================= -->
			<div class="col-sm-7">
				<div class="book-page-single-desc text-center">
					<iframe width="900px" height="650px" src="https://www.yumpu.com/en/embed/view/GDBzJK3QRdtnyubg" frameborder="0" allowfullscreen="true"  allowtransparency="true"></iframe>
					
				</div>
			</div><!-- .portfolio-single-content end -->

		</div>

	</div>
</div>